// breadcrumbs: START
#bread-crumbs>.breadcrumb {
    padding: 2rem;
    font-size: 1.8rem;
}

#bread-crumbs>.breadcrumb>.active>a {
    color: #2196f3;
}

// breadcrumbs: END
.white-bg {
    background-color: #fff;
}

.light-blue {
    background: #a7d5f9;
}

.dark-blue {
    color: #2196f3;
}

#brief-info {
    padding: 1.2rem;
    position: relative;
}

#brief-info>img {
    vertical-align: initial;
}

#info {
    padding-left: 2.2rem;
    display: inline-block;
    position: relative;
    top: -1rem;
}

#brief-info>button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#info>span>.mat-icon {
    position: relative;
    top: 0.8rem;
}

#detail-info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#matTabsGroupTable {
    display: initial !important;
}

// Table: START
#table-data {
    margin-top: 2rem;
}

mat-row:nth-child(even) {
    background-color: #eee;
}

mat-row:nth-child(odd) {
    background-color: #fff;
}

.view-details-btn {
    background-color: #2196f3;
    color: #fff
}

// data table
#table-data {
    padding: 1rem;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

th.mat-sort-header-sorted {
    color: black;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    //min-width: 300px;
}

#class-specific-table {
    overflow: auto;
    max-height: 500px;
}

.mobile-label {
    display: none;
}

.mat-tab-label-content {
    font-size: 2rem;
    font-weight: bold;
}

// Table: END
// Personal details
#personal-info>table {
    font-size: 1.6rem;
}

#personal-info>table>tbody>tr>td {
    padding-bottom: 1.2rem;
}

// -------------- MEDIA QUERIES -----------------

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #brief-info>img {
        position: relative;
        margin-bottom: -1rem;
    }
    #info {
        padding-left: 2.2rem;
        display: inline-block;
        position: relative;
        top: -1rem;
        margin-top: 2rem;
        left: -2rem;
    }
    // Table:Start
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    mat-row:nth-child(even) {
        background-color: #eee;
        margin-bottom: -3.5rem;
    }
    mat-row:nth-child(odd) {
        background-color: #fff;
        margin-bottom: -3.5rem;
    }
    #bread-crumbs>.breadcrumb {
        padding: 2rem;
        font-size: 1.4rem;
    }
    #class-specific-table {
        border-bottom: 0.3rem solid #2196f3;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    #brief-info>img {
        position: relative;
        top: -3rem;
        margin-bottom: -1rem;
    }
    #personal-info>table {
        width: 40%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #brief-info>img {
        position: relative;
        margin-bottom: -2rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

.mat-tab-body-content {
    height: unset!important;
}