<section class="content">
    <div class="container-fluid">
        <div id="bread-crumbs" class="block-header">
            <!--Breadcrumbs-->
            <ol class="breadcrumb white-bg">
                <li><a routerLink="/">Home</a></li>
                <li class="active"><a routerLink="/notifications">Notifications</a></li>
            </ol>
        </div>
    </div>

    <!--Notifications-->
    <div id="notifications" class="white-bg">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">account_balance</mat-icon>
                    &nbsp;&nbsp;
                    <p class="badgeNotification">
                        <span matBadge="3" matBadgeOverlap="false">From University</span>
                    </p>

                </ng-template>
                <div id="notification-message" class="unread-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>University</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>All faculty members are requested to submit there classes's attendance reports by the end of this week in the format specified by the HOD.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notification-message" class="unread-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>University</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>All faculty members are requested to submit there classes's attendance reports by the end of this week in the format specified by the HOD.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notification-message" class="unread-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>University</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>All faculty members are requested to submit there classes's attendance reports by the end of this week in the format specified by the HOD.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notification-message" class="read-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>University</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>All faculty members are requested to submit there classes's attendance reports by the end of this week in the format specified by the HOD.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">face</mat-icon>
                    &nbsp;&nbsp;
                    <p class="badgeNotification">
                        <span matBadge="1" matBadgeOverlap="false">From Students</span>
                    </p>
                </ng-template>
                <div id="notification-message" class="unread-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done</mat-icon></button>
                        <button class="markAsRead-btn unread-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as read</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>Sarthak Grover</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Course:</strong></td>
                                <td>B.Tech</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>IT-F9</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>Please provide Unit 1 Sample Papers.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notification-message" class="read-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>Sarthak Grover</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Course:</strong></td>
                                <td>B.Tech</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>IT-F9</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>Please provide Unit 1 Sample Papers.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notification-message" class="read-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>Sarthak Grover</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Course:</strong></td>
                                <td>B.Tech</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>IT-F9</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>Please provide Unit 1 Sample Papers.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="notification-message" class="read-panel">
                    <!--Mobile Mark As Buttons: Mobile-->
                    <div class="mobile-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <!--Mobile Mark As Buttons: Desktop-->
                    <div class="desktop-mark-btns">
                        <button mat-mini-fab color="warn"><mat-icon>done_all</mat-icon></button>
                        <button class="markAsRead-mobile read-color-btn" mat-raised-button>&nbsp;&nbsp;<span>Mark as unread</span></button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>From:</strong></td>
                                <td>Sarthak Grover</td>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong></td>
                                <td>20 October, 2018</td>
                            </tr>
                            <tr>
                                <td><strong>Course:</strong></td>
                                <td>B.Tech</td>
                            </tr>
                            <tr>
                                <td><strong>Section:</strong></td>
                                <td>IT-F9</td>
                            </tr>
                            <tr>
                                <td><strong>Message:</strong></td>
                                <td>Please provide Unit 1 Sample Papers.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>


</section>