<section class="content">
    <div class="container-fluid">
        <div id="bread-crumbs" class="block-header">
            <!--Breadcrumbs-->
            <ol class="breadcrumb white-bg">
                <li class="active"><a routerLink="/">All Streams</a></li>
            </ol>
        </div>
    </div>

    <!--All Streams Card-->
    <div class="container-fluid">
        <div id="streams" class="block-header dark-blue-bg">
            <div class="row">
                <div class="col-md-3 stream-card">
                    <a routerLink="/computerScience">
                        <mat-card>Computer Science</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="#">
                        <mat-card>Information Technology</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="#">
                        <mat-card>Electrical</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="#">
                        <mat-card>Mechanical</mat-card>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 stream-card ">
                    <a href="#">
                        <mat-card>Tool Engineering</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="#">
                        <mat-card>Chemical Engineering</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="#">
                        <mat-card>Bio-Chemical</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="#">
                        <mat-card>Civil Engineering</mat-card>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>