<section class="content">
    <div class="container-fluid">
        <div id="bread-crumbs" class="block-header">
            <!--Breadcrumbs-->
            <ol class="breadcrumb white-bg">
                <li><a routerLink="/">All Streams</a></li>
                <li class="active"><a routerLink="/computerScience">Computer Science</a></li>
            </ol>
        </div>
    </div>

    <!--All Streams Card-->
    <div>
        <div id="streams" class="block-header dark-blue-bg">
            <div class="row">
                <div class="col-md-3 stream-card">
                    <a routerLink="/computerScience/class1">
                        <mat-card matRipple>Class 1</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 2</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 3</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 4</mat-card>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 stream-card ">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 5</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 6</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 7</mat-card>
                    </a>
                </div>
                <div class="col-md-3 stream-card">
                    <a href="javascript:void(0);">
                        <mat-card matRipple>Class 8</mat-card>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>