<section class="content">
    <div class="container-fluid">
        <div id="bread-crumbs" class="block-header">
            <!--Breadcrumbs-->
            <ol class="breadcrumb white-bg">
                <li><a routerLink="/">All Streams</a></li>
                <li class="active"><a routerLink="/stream/{{stream}}">{{streamName}}</a></li>
            </ol>
        </div>
    </div>

    <!--All Streams Card-->
    <div>
        <div id="streams" class="block-header dark-blue-bg">
            <div class="row">
                <div *ngFor="let data of finalObj.classes; let i = index" class="col-md-3 stream-card">
                    <a routerLink="/stream/{{stream}}/{{i+1}}">
                        <mat-card matRipple>{{data}}</mat-card>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>